{% load cms_tags sekizai_tags %}
<!doctype html>
<head>
  <title>{{ request.current_page.get_title }}{% block title %}{% endblock %} - The Lady Killigrew</title>
  {% render_block "css" %}

  {% block head %}{% endblock %}
{% if debug %}
  <script> localStorage.clear();
    	less = { env: 'development' }; 
  </script>

  <link  rel="stylesheet/less" type="text/css" href="/static/bootstrap/less/bootstrap.less"/>
  <script src="/static/less.js/dist/less-1.1.5.min.js"></script>
  {% else %}
  <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" media="print" href="{{ STATIC_URL }}bootstrap/print.min.css"/>

  {% endif %}

</head>

<body>
{% cms_toolbar %}
<div id="navigation-wrapper" class="container">
	<nav id="navigation" class="span12">
		<ul id="navlist">
			<li><a href="/" title="Home">Home</a></li>
			<li><a href="/menu" title="Menu">Menu</a></li>
			<li><a href="/hours-and-directions" title="Directions">Hours &amp; Directions</a></li>
			<li><a href="/contact" title="Contact">Contact</a></li>
			<li><a href="/gallery" title="Image Gallery">Image 
Gallery</a></li>
		<!-- <li><a href="http://www.theladykilligrew.com/events" title="Events">Events</a></li> -->
		</ul>
	</nav>
</div>
<div id="info-wrapper" class="container">
	<div id="pirate-ship-wrapper" class="span5">
		<img id="pirate-ship" src="/static/theme/ladyk/images/pirate_ship_left.png"/>
	</div>
	<div id="info" class="span6">
		<img id="the-lady-killigrew" src="/static/theme/ladyk/images/the_lady_killigrew.png"/>
		<p id="address">440 Greenfield Road - Montague, MA. - (413) 367-9666</p>
		<p id="hours">7 days / 8am - 11pm (at least)</p>
	</div>
</div>
	
	

<div class="container" id="main-body">	
	<div id="contents-wrapper">
		<div id="contents">
		{% block content-related %}{% endblock %}
		{% block content %}{% placeholder "main" %}{% endblock %}
		</div> <!-- end of contents -->
		
		<div id="footer" class="center">
			<p id="footerinfo">The Lady Killigrew Cafe - 440 Greenfield Road, Montague MA - (413) 367-9666</p>
		</div> <!-- end of footer -->	
	</div> <!-- end of contentswrapper -->
	

</div> <!-- end of mainbody -->


<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
{% render_block "js" %}

<script type="text/javascript">

$.fn.sail = function() {
    $(this).attr('src',"/static/theme/ladyk/images/pirate_ship_left.png");
    $(this).animate({
    	'margin-left': '10', }, 
  		10000,    // duration 
  		function() {
  		$(this).attr('src',"/static/theme/ladyk/images/pirate_ship_right.png");
  		$(this).animate({  
    		'margin-left': '280',}, 
    		10000, // duration  
    		function() { //completed
  			$(this).sail();  // restart 
  		});
  		
  		
  		 });
};



$(document).ready(function() {
	{% render_block "document_ready" %}

$('#pirate-ship').sail();

});

</script>
</body>
</html>
